<!DOCTYPE html>
{% extends "base_content.html" %}
{% block title %}
| Sign Up
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Sign Up</h1>
    <form action="{% url 'sign_up' %}" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input type="submit" value="Sign up" class = "btn btn-primary">
      </form>
      <form action="{% url 'log_in' %}">
        <hr>
        <input type="submit" class="btn btn-secondary" value="Already have an account? Log in"/>
      </form>
  </div>
</div>
{% endblock %}
