<div class="row content">
  <div class="col-12">
    <div class="club-text">
      <h3 class="club-title">{{ club.name }}</h3>
      <p class="club-address">{{ club.location }}</p>
    </div>
  </div>
</div>
<div class="row content">
  <div class="col-12">
      <p class="club-description">{{ club.description }}</p>
        <!-- INCLUDE MEMBER COUNT -->
          <!-- INCLUDE APPLICATION FUNCTIONALITY AND LEAVE/JOIN BUTTONS -->
          <!-- INCLUDE CLUB OWNER DETAILS -->
          <!-- INCLUDE TOURNAMENT DETAILS -->
        {% if user.is_authenticated %}
        <button class="btn btn-primary">Join</button>
        {% else %}
        <form action="{% url 'log_in' %}">
          <input type="submit" class="btn btn-secondary" value="Log in to join"/>
        </form>
        {% endif %}
  </div>
</div>
