<div class="row content">
  <div class="col-12">
    <div class="club-text">
      <h3 class="club-title">{{ club.name }}</h3>
      <p class="club-address">{{ club.location }}</p>
    </div>
  </div>
</div>
<div class="row content">
  <div class="col-12">
    <p class="club-description">{{ club.description }}</p>

    {% if club.owner.id != user.id %}


      {% if user.is_authenticated %}
      <button class="btn btn-primary">Join</button>
      {% else %}
      <form action="{% url 'log_in' %}">
        <input type="submit" class="btn btn-secondary" value="Log in to join"/>
      </form>
      {% endif %}

    {% else %}
    <form action="#">
      <input type="submit" class="btn btn-secondary" value="Leave"/>
    </form>
    {% endif %}

    {% if user.is_authenticated and exists_in_club %}
    <a href="/club/{{club.id}}/memberlist" class="btn btn-primary my-3">View member list</a>
    {% endif %}
  </div>
</div>
