<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>

  {% for club in clubs %}

    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'show_club' club.id %}">{{ club.name }}</a></td>
        <td>{{ club.location }}</td>
        <td>{{ club.description }}</td>
    </tr>

  {% endfor %}

    </tbody>
</table>